.container h1 
{
    padding-top: 80px;
    text-align: start;
    font-weight: bolder;
     margin-left: 12%;
}
.container
{
    text-align: center;
     margin-top: 0;
     padding-top: 0;
    background-color: aliceblue;
}
.input
{
    margin-top: 50px;
    /* margin: 1rem 0; */
    width:400px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}
.a
{
    color: black;
    text-decoration: none;
}
.card
{
    width:23rem;
    margin:0;
    margin-top:60px;
    height:25rem;
    transition: all 0.3s ease-in;
    columns:black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card:hover
{
    cursor: pointer;
       transform: scale(1.1, 1.1);
      background-color: orange;
       color: white;
}
.header 
{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}
.reacipesImg
{
    width:100%;
    max-width: fit-content;
    max-height: 16rem;
    margin-left:-15px;
    height:100%;
    margin-bottom: -15px;
    margin-right: -15px;
}